
$f7:#f7f7f7;
$hei-3:#333;
$hui-6:#666;
$hui-9:#999;
$theme-lan:#4972F1;
$huang-195: #FFD195;

$yj-8: 8px;
$yj-10: 10px;
$yj-20: 20px;
$yj-25: 25px;
$yj-30: 30px;
$yj-50: 50px;

/*公共类*/
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}
.public {
  color: red;
}

/**
<div class="public-heng">
  <div class="public-left"></div>
  <div class="public-center"></div>
  <div class="publicright"></div>
</div>
*/

.public-row {
  display: flex;
  flex-direction: row;
}

.public-column {
  display: flex;
  flex-direction: column;
}

.public-heng {
  @extend .public-row;
  align-items: center;
  .public-center{
    flex: 1;
  }
}

.public-info__diriction{
  @extend .public-row;
  align-items: stretch;
}

.public-right__box{
  padding: 30px 20px;
  flex: 1;
}

.public-row__center {
  @extend .public-row;
  justify-content: center;
  align-items: center;
}

.public-column__center {
  @extend .public-column;
  align-items: center;
  flex-direction: column;
}


.public-shou {
  cursor: pointer;
}

.public-shou:hover{
  color: $theme-lan;
}

.public-right__box{
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.public-handel-user__box{
  margin-right: 30px;
  align-items: center;
  font-size: 25px;
  div,span{
    cursor: pointer;
  }
}

::-webkit-scrollbar{
  display:none;/*ChromeSafari*/
}